/**
 * CSS Style for Panto pages
 */


/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 *
 * Modified for this file!!!
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-size: 16px;
    color: #424242;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * Now on with the show:
 */

/**
 * Typography / colour
 */
body, p, ul, ol {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7em;
    font-weight: 400;
    font-style: normal;
    color: #424242;
}
p, ul, ol, table {
    margin-bottom: 28px;
}
a {
    text-decoration: none;
    color: #0085bd;
}
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 700;
    font-style: normal;
    color: #212121;
}
h1 {
    font-size: 24px;
}
h1.title {
    text-align: center;
}
h1 a {
    color: #212121;
}
h2 {
    font-size: 20px;
    color: #212121;
    padding-bottom: 18px;
}
table th {
    text-align: left;
}
#site #canvas #page-wrapper ul {
    list-style: square inside none;
}

/**
 * Utilities
 */

/**
 * Clearfix
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/** 
 * Structure
 */
#site {
    margin: 0 auto;
    padding: 130px;
}
#site #canvas {
    padding: 0;
    max-width: 1100px;
    margin: 0 auto;
    min-height: 600px;
}
#site #canvas #header-wrapper {
    padding-bottom: 80px;
}
#site #canvas #header-wrapper #header {
    max-width: 1100px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
    vertical-align: middle;
}
#site #canvas #header-wrapper #header h1.site-title {
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Stalemate', cursive;*/
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-size: 80px;
    text-align: center;
    display: block;
    margin: 0 auto 28px;
    color: #121212;
    letter-spacing: 0.125em;
}
#site #canvas #header-wrapper #header h1.site-title a {
    color: #121212;
}
#site #canvas #header-wrapper #header h1.site-title a:hover {
    color: #c9c9c9;
}
#site #canvas #header-wrapper #nav-global {
    width: auto;
    text-align: center;
    padding: 28px 0;
}
#site #canvas #header-wrapper #nav-global ul {
    font-size: 13px;
    line-height: 1.5em;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 0;
    font-style: normal;
}
#site #canvas #header-wrapper #nav-global ul > li > a {
    padding: 0 0.8em;
}
#site #canvas #header-wrapper #nav-global ul > li {
    display: inline-block;
    text-align: center;
}
#site #canvas #header-wrapper #nav-global ul > li > ul {
    background-color: #fff;
    box-shadow: 0 0 50px #fff;
    text-transform: none;
    padding: 5px 0;
    line-height: 1.8em;
}
#site #canvas #header-wrapper #nav-global ul > li > ul > li {
    text-align: left;
    display: block;
    position: relative;

}
#site #canvas #header-wrapper #nav-global a,
#site #canvas #header-wrapper #nav-global a:visited {
    color: #666;
}
#site #canvas #header-wrapper #nav-global > ul > li a:hover,
#site #canvas #header-wrapper #nav-global > ul > li a:active,
#site #canvas #header-wrapper #nav-global > ul > li.active > a {
    color: #c9c9c9;
}
#site #canvas #header-wrapper #nav-global > ul > li > ul {
    width: auto;
}

#site #canvas #page-wrapper {}
#site #canvas #page-wrapper .byline {
    display: block;
    margin-bottom: 28px;
    text-align: center;
    line-height: 1.6em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #4a4a4a;
}
#site #canvas #page-wrapper article {
    position: relative;
    max-width: 750px;
    margin: 0 auto;
}
#site #canvas #page-wrapper article header {
    margin: 0 0 80px;
}
#site #canvas #page-wrapper article header .character-name {
    font-family: 'Stalemate', cursive;
    font-size: 70px;
}
#site #canvas #page-wrapper article header .byline,
#site #canvas #page-wrapper article header .character-description {
    font-size: 14px;
}
#site #canvas #page-wrapper article header .byline .character {
    font-family: 'Stalemate', cursive;
    font-size: 30px;
    text-transform: none;
}
#site #canvas #page-wrapper article header .character-description {
    /*font-family: 'Shadows Into Light', cursive;*/
    /*font-family: 'Stalemate', cursive;*/
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    /*font-size: 30px;*/
}

#site #canvas #footer-wrapper {}


#site #canvas #page-wrapper ul.song-status {
    list-style: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-bottom: 30px;
    width: auto;
    text-align: center;
}
#site #canvas #page-wrapper ul.song-status li {
    display: block;
    text-align: center;
    margin-bottom: 0px;
    line-height: 1em;
    padding: 7px 10px;
}
#site #canvas #page-wrapper table.song-status td.red,
#site #canvas #page-wrapper table.song-status td.amber,
#site #canvas #page-wrapper table.song-status td.green {
    text-align: center;
    margin-bottom: 0px;
    line-height: 1em;
    padding: 7px 10px;
}
#site #canvas #page-wrapper ul.song-status td,
#site #canvas #page-wrapper table.song-status th {
    padding: 0 10px;
}
#site #canvas #page-wrapper ul.song-status li.red,
#site #canvas #page-wrapper table.song-status td.red {
    background-color: #e00;
    color: #500;
    border-color: #a00;
}
#site #canvas #page-wrapper ul.song-status li.amber,
#site #canvas #page-wrapper table.song-status td.amber {
    background-color: #fa0;
    color: #830;
    border-color: #a50;
}
#site #canvas #page-wrapper ul.song-status li.green,
#site #canvas #page-wrapper table.song-status td.green {
    background-color: #0d0;
    color: #060;
    border-color: #080;
}

#site #canvas #page-wrapper .resources {
  width: 100%;
  margin: 0 auto;
  /*max-width: 400px;*/
}
#site #canvas #page-wrapper .resources th {
  border-bottom: 1px solid #eee;
}
#site #canvas #page-wrapper .resources .disabled {
  opacity: 0.5;
}

#site #canvas #page-wrapper .container {
    margin-bottom: 28px;
    clear: left;
}
#site #canvas #page-wrapper .container .left {
    float: left;
    width: 200px;
    
}
#site #canvas #page-wrapper .container .right {
    overflow: hidden;
}
#site #canvas #page-wrapper .container .left h2 {
    text-align: right;
    padding-right: 10px;
}
#site #canvas #page-wrapper .container .right-inner {
    padding-left: 20px;
}
#site #canvas #page-wrapper .note {
    font-family: 'Shadows Into Light', cursive;
}

@media only screen and (max-width: 1024px) {
    #site #canvas #header-wrapper {
        padding-bottom: 28px !important;
    }
    #site #canvas #page-wrapper article header {
        margin: 0 0 38px;
    }
}
@media only screen and (max-width: 960px) {
    #site {
        overflow: hidden;
        padding: 50px;
    }
}
@media only screen and (max-width: 40em) {
    #site #canvas #page-wrapper .container .left {
        float: left;
        width: 100%;
    }
    #site #canvas #page-wrapper .container .right {
        width: 100%;
        float: left;
    }
    #site #canvas #page-wrapper ul.song-status li {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 6px;
    }
    #site #canvas #page-wrapper .container .left h2 {
        text-align: left;
    }
    #site #canvas #page-wrapper .container .right-inner {
    padding-left: 0px;
}
}

/**
 * Fancy navigation
 */
#site #canvas #header-wrapper #nav-global {
    position: relative;
    left: -30px;
}
#site #canvas #header-wrapper.nav-show-all #nav-global{
    left: -90px;
    height: 500px;
}
#site #canvas #header-wrapper #nav-global > a {
    display: none;
}
#site #canvas #header-wrapper #nav-global li {
    position: relative;
}
#site #canvas #header-wrapper #nav-global li.divider {
    height: 20px;
}
/* first level */
#site #canvas #header-wrapper #nav-global > ul {}
#site #canvas #header-wrapper #nav-global > ul > li {}
#site #canvas #header-wrapper.nav-show-all #nav-global > ul > li {
    font-style: bold;
    padding-bottom: 30px;
}
#site #canvas #header-wrapper.nav-show-all #nav-global > ul > li > a {
    color: #212121;
}
/* second level */
#site #canvas #header-wrapper #nav-global li ul {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1;
}
#site #canvas #header-wrapper.nav-show-all #nav-global li ul {
    display: block;
    width: 100%;
}
#site #canvas #header-wrapper #nav-global li ul.characters {
    width: 100%;
}
#site #canvas #header-wrapper #nav-global li ul.characters li {
    text-align: right;
}
#site #canvas #header-wrapper #nav-global li:hover ul {
    display: block;
}
/*
@media only screen and (max-width: 40em) {
    #site #canvas #header-wrapper #nav-global {
        position: relative;
    }
    #site #canvas #header-wrapper #nav-global > a {}
    #site #canvas #header-wrapper #nav-global:not( :target ) > a:first-of-type,
    #site #canvas #header-wrapper #nav-global:target > a:last-of-type {
        display: block;
    }
    #site #canvas #header-wrapper #nav-global > ul {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
    #site #canvas #header-wrapper #nav-global:target > ul {
        display: block;
    }
    #site #canvas #header-wrapper #nav-global > ul > li {
        width: 100%;
        float: none;
    }
    #site #canvas #header-wrapper #nav-global li ul {
        position: static;
    }
}
*/
