body, html {
  padding: 0; margin: 0;
}

.world {
  width: 100%;
  height: 100%;
  background-color: #8abfdb;
  position: absolute;
  overflow: hidden;

  /* Keeps all text accessible */
  min-width: 1300px;
  min-height: 800px;
}

.world .bg {
  background-image: url('//s3.marcus.codes/img/marcus-bg-mural.jpg');
  width: 2741px;
  height: 1739px;

  position: absolute;;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-55%);
      -ms-transform: translateX(-50%) translateY(-55%);
          transform: translateX(-50%) translateY(-55%);
  z-index: 100;
}

.world .frame {
  width: 350px;
  height: 400px;
  /*background-color: grey;*/

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-160%) translateY(-90%);
  -ms-transform: translateX(-160%) translateY(-90%);
      transform: translateX(-160%) translateY(-90%);
  z-index: 200;
}

#emblem {
  width: 348px;
  height: 365px;
}

#name {
  font-family: 'Poiret One', cursive;
  font-weight: normal;
  font-size: 50px;
  color: #1F0B16;
  margin: 0;
  margin-bottom: 10px;

  width: 500px;
  text-align: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  text-transform: lowercase;
}

#desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: #555;
  margin-bottom: 3px;

  width: 500px;
  text-align: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
       -mstransform: translateX(-50%);
          transform: translateX(-50%);
}
#desc #bjj {
  font-family: 'Merienda One', cursive;
  font-size: 17px;
  color: #606060;

}
#desc #bjj #belt {
  position: relative;
  top: 1px;
  margin-left: 3px;
  display: inline-block;
  background-image: url(http://s3.marcuswhybrow.com/img/bjj-belts.png);
  background-repeat: no-repeat;
  width: 52px;
  height: 16px;
  opacity: 0.9;
}
#belt.white { background-position: 0 0 }
#belt.white-1 { background-position: 0 -16px }
#belt.white-2 { background-position: 0 -32px }
#belt.white-3 { background-position: 0 -48px }
#belt.white-4 { background-position: 0 -64px }
#belt.blue { background-position: 0 -80px }
#belt.blue-1 { background-position: 0 -96px }
#belt.blue-2 { background-position: 0 -112px }
#belt.blue-3 { background-position: 0 -128px }
#belt.blue-4 { background-position: 0 -144px }
#belt.purple { background-position: 0 -160px }
#belt.purple-1 { background-position: 0 -176px }
#belt.purple-2 { background-position: 0 -192px }
#belt.purple-3 { background-position: 0 -208px }
#belt.purple-4 { background-position: 0 -224px }
#belt.brown { background-position: 0 -240px }
#belt.brown-1 { background-position: 0 -256px }
#belt.brown-2 { background-position: 0 -272px }
#belt.brown-3 { background-position: 0 -288px }
#belt.brown-4 { background-position: 0 -304px }
#belt.black { background-position: 0 -320px }


#contact {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: #555;

  width: 500px;
  text-align: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
#contact a {
  text-decoration: none;
  color: #555;
}
#contact a:hover {
  color: #AF2F2E;
}

.t-underline {
  position: relative;
}
.t-underline:after {
  display: block;
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 0;
  height: 1px;
  background-color: #AF2F2E;
  content: "";
  transition: width 0.2s, left 0.2s;
}
.t-underline:hover {
  color: #D96459;
}
.t-underline:hover:after {
  width: 100%;
  left: 0%;
}
