<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="author" content="Marcus Whybrow">
        
        <link rel="author" href="https://plus.google.com/103832793361409130288/posts">

        <!-- Style -->
        <link rel="stylesheet" href="{{ site.baseurl }}panto/assets/css/main.css">

        <!-- Fonts -->
        <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>

        <base href="{{ page.root }}">

        
        <!--[if lt IE 9]>
            <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Google Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-32699098-2']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

        <!-- Meh -->
        <style type="text/css">
            h3 { margin-top: 50px; }
        </style>

        {{ head }}

    </head>

    <body class="style-thin panto">  
        <div id="site">
            <div id="canvas">
{{ content }}
            </div>

        </div>
    </body>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/panto/assets/js/lib/doubletaptogo.min.js"></script>
    <script type="text/javascript">
        $('#nav-global li:has(ul)').doubleTapToGo();
    </script>

</html>
