---
layout: panto
root: /panto/2015-cinderella/
panto-name: Cinderella
---

<nav style="margin-top: 10px; margin-bottom: 40px;" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav">
        <li {% if page.active-home %}class="active"{% endif %}><a class="navbar-brand" href="{{ page.root }}">Home</a></li>
      </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown {% if page.active-characters %}active{% endif %}">
          <a href="#characters" class="dropdown-toggle" data-toggle="dropdown">Characters <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ page.root }}characters/charming/">Prince Charming</a></li>
            <li><a href="{{ page.root }}characters/cinderella/">Cinderella</a></li>
            <li><a href="{{ page.root }}characters/dandini/">Dandini</a></li>
            <li><a href="{{ page.root }}characters/buttons/">Buttons</a></li>
            <li><a href="{{ page.root }}characters/baroness/">The Baroness</a></li>
            <li><a href="{{ page.root }}characters/camilla/">Camilla</a></li>
            <li><a href="{{ page.root }}characters/drusilla/">Drusilla</a></li>
            <li><a href="{{ page.root }}characters/fairy/">Fairy Godmother</a></li>
            <li><a href="{{ page.root }}characters/king/">The King</a></li>
            <li><a href="{{ page.root }}characters/queen/">The Queen</a></li>
            <li class="divider"></li>
            <li><a href="{{ page.root }}characters/organiser/">The Organiser</a></li>
            <li><a href="{{ page.root }}characters/mail/">Royal Mail</a></li>
            <li><a href="{{ page.root }}characters/advisers/">Advisers</a></li>
            <li class="divider"></li>
            <li><a href="{{ page.root }}characters/general/">General Stuff</a></li>
          </ul>
        </li>
        <li class="dropdown {% if page.active-songs %}active{% endif %}">
          <a href="#songs" class="dropdown-toggle" data-toggle="dropdown">Songs <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ page.root }}songs/">Overview</a></li>
            <li class="divider"></li>
            <li><a href="{{ page.root }}songs/on-a-wonderful-day-like-today/">On A Wonderful Day Like Today</a></li>
            <li><a href="{{ page.root }}songs/to-love-somebody/">To Love Somebody</a></li>
            <li><a href="{{ page.root }}songs/sisters/">Sisters</a></li>
            <li><a href="{{ page.root }}songs/once-upon-a-dream/">Once Upon A Dream</a></li>
            <li><a href="{{ page.root }}songs/somebody-to-love/">Somebody To Love</a></li>
            <li><a href="{{ page.root }}songs/please/">Please</a></li>
            <li><a href="{{ page.root }}songs/welcome-home/">Welcome Home</a></li>
            <li><a href="{{ page.root }}songs/when-you-believe/">When You Believe</a></li>
            <li><a href="{{ page.root }}songs/dance/">DANCE SONG</a></li>
            <li><a href="{{ page.root }}songs/the-court-of-king-caractacus/">The Court of King Caractacus</a></li>
            <li><a href="{{ page.root }}songs/i-want-to-know-what-love-is/">I Want To Know What Love Is (Medley)</a></li>
            <li><a href="{{ page.root }}songs/madness/">Madness</a></li>
            <li><a href="{{ page.root }}songs/once-upon-a-dream-reprise/">Once Upon A Dream (Reprise)</a></li>
            <li><a href="{{ page.root }}songs/burnin-love/">Burnin' Love</a></li>
            <li><a href="{{ page.root }}songs/livin-on-a-prayer/">Livin' On A Prayer</a></li>
            <li class="divider"></li>
            <li><a href="{{ page.root }}songs/complexity/">Band / Complexity Overview</a></li>
            <li><a href="{{ page.root }}band/daniel/">Band / Daniel</a></li>
          </ul>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#">Link</a></li> -->
        <!-- <a type="button" class="btn btn-default navbar-btn" href=""><span class="glyphicon glyphicon-cloud-download"></span> Script.pdf</a> -->
        <a type="button" class="btn btn-default navbar-btn" target="_blank" href="mailto:panto@whybrow.org.uk"><span class="glyphicon glyphicon-envelope"></span> Ask Marcus</a>
        <a type="button" class="btn btn-default navbar-btn" target="_blank" href="http://open.spotify.com/user/marcuswhybrow/playlist/0t0HF3owR9ZvRjE7V4bWIf"><span class="glyphicon glyphicon-music"></span> Playlist</a>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{{ content }}


<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-32699098-3', 'marcuswhybrow.com');
  ga('send', 'pageview');

</script>
